@model IEnumerable<Pokemon.ViewModels.OrderViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    @foreach (var Order in Model)
    {
        <p>  @Order.Order.OrderDate @Order.Order.Name заказал покемона уже @Order.Count раз</p>
    }
</body>
</html>
