@model Pokemon.ViewModels.OrderViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <p>@Model.Order.OrderDate @Model.Order.Name заказал покемона уже @Model.Count раз</p>
</body>
</html>
